body {
    background: linear-gradient(114deg, #343434, #000);;
    color: rgb(222, 222, 222);
}
nav {
    background: #000;
    border-right: 2px solid #343434;
    
}
a {
    color: #ffe200;
    text-decoration: underline;
}